Repository jameswlane/turbo-goreleaser: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check, test, package

format:
  run: pnpm format
  stage_fixed: true

lint:
  run: pnpm lint
  stage_fixed: true

type-check:
  run: pnpm build

test:
  run: pnpm test:run

package:
  run: pnpm package

Notes added by 'git notes add'
  6d22aead962f611dbcf46b0e2e239f77ade1e4a6
Due: none

feat: log action version on startup for better debugging
  src/main.test.ts
  src/main.ts
Due: format, lint, type-check, test

Notes added by 'git notes add'
  b410b13e3a8b083fd20cc102bc1436bf68dccce4
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

fix: ensure git operations use correct working directory in GitHub Actions
  src/main.test.ts
  src/main.ts
  src/tag-manager.test.ts
  src/tag-manager.ts
Due: format, lint, type-check, test

chore(release): 1.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  d773b817e5ff1bcd9e673592af9f0a7832099390
Due: none

fix: let GoReleaser handle releases entirely for GoReleaser projects
  src/goreleaser-config.ts
  src/main.test.ts
  src/main.ts
Due: format, lint, type-check, test

chore(release): 1.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  102edb9b54cf4eff5b78caab24357cbe8b7ab4bd
Due: none

fix: add Node.js version debug logging for better diagnostics
  src/main.ts
Due: format, lint, type-check, test

Notes added by 'git notes add'
  d7b43e0a9d89097dc5c7eaaca9af71eadf973323
Due: none

chore(release): 1.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

fix: improve GoReleaser project detection and handling
  src/goreleaser-config.test.ts
  src/goreleaser-config.ts
Due: format, lint, type-check, test

Notes added by 'git notes add'
  e62b78dd6e1a95926eeb5481535e2acb3fc066cb
Due: none

chore(release): 1.3.4 [skip ci]
  CHANGELOG.md
  package.json
Due: format

chore(release): 1.3.5 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  658ab7d2f3c1da1641e8f7900076b15f07b34975
Due: none

fix: improve major version tag automation and remove conflicting systems
  .github/workflows/release.yml
  .releaserc.json
Due: format

chore(release): 1.3.6 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  62cf6a7a056c4e62a0e2fd63b7601468c90988c8
Due: none

Path conditions:
  format: any of: *.{ts,js,json,yml,yaml,md}
  lint: any of: *.{ts,js}
  type-check: any of: *.{ts,js}
  test: any of: *.{ts,js}
  package: any of: src/**/*.{ts,js}
