Repository jameswlane/turbo-goreleaser: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, type-check, test, package

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{ts,js,json,yml,yaml,md}"
      run: pnpm format
      stage_fixed: true

    lint:
      glob: "*.{ts,js}"
      run: pnpm lint
      stage_fixed: true

    type-check:
      glob: "*.{ts,js}"
      run: pnpm build

    test:
      glob: "*.{ts,js}"
      run: pnpm test:run

    package:
      glob: "src/**/*.{ts,js}"
      run: pnpm package

pre-push:
  parallel: true
  commands:
    final-test:
      run: pnpm test:run

    final-build:
      run: pnpm build

    final-package:
      run: pnpm package

commit-msg:
  commands:
    conventional-commit:
      run: |
        if [ -f "$1" ] && ! grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,50}" "$1"; then
          echo "‚ùå Commit message must follow conventional commits format:"
          echo "   type(scope): description"
          echo ""
          echo "   Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo "   Example: feat(api): add user authentication"
          exit 1
        fi

style: fix formatting from biome
  src/semantic-release.test.ts
Due: format, lint, type-check, test

refactor: replace custom GoReleaser installation with official action
  README.md
  action.yml
  mise.toml
  package.json
  src/goreleaser-config.test.ts
  src/goreleaser-config.ts
  src/main.ts
Due: format, lint, type-check, test

fix: address critical security vulnerabilities and performance issues
  src/cache.ts
  src/changelog-generator.test.ts
  src/changelog-generator.ts
  src/constants.ts
  src/main.test.ts
  src/main.ts
  src/retry.ts
  src/semantic-release.ts
  src/tag-manager.test.ts
  src/tag-manager.ts
  src/turbo-integration.ts
  src/validation.ts
Due: format, lint, type-check, test

fix: update test expectations for security improvements
  src/main.test.ts
  src/main.ts
  src/semantic-release.test.ts
  src/tag-manager.test.ts
Due: format, lint, type-check, test

fix: add TypeScript build step before packaging in CI
  .github/workflows/ci.yml
Due: format

fix: use pre-built bundle in action execution
  action.yml
Due: format

fix: correct GitHub token handling and action configuration
  .github/workflows/ci.yml
  action.yml
Due: format

fix: address critical Node.js version parsing and Git reference issues
  src/main.ts
  src/turbo-integration.ts
Due: format, lint, type-check, test

fix: make goreleaser-config tests resilient to CI environment variables
  src/goreleaser-config.test.ts
Due: format, lint, type-check, test

fix: correct environment variable names in action.yml for @actions/core compatibility
  action.yml
Due: format

fix: replace turbo-monorepo workflow with proper GitHub Action release workflow
  .github/workflows/release.yml
  examples/workflows/turbo-monorepo-release.yml
Due: format

feat: add semantic-release for automated versioning and releases
  .github/workflows/release.yml
  .releaserc.json
  package.json
Due: format

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: format

Notes added by 'git notes add'
  5f1330c50890fb3464cf731551ceb206f32a7820
Due: none

feat: include dist/ directory in repository for GitHub Action
  .gitignore
  dist/cache.d.ts
  dist/cache.d.ts.map
  dist/changelog-generator.d.ts
  dist/changelog-generator.d.ts.map
  dist/constants.d.ts
  dist/constants.d.ts.map
  dist/goreleaser-config.d.ts
  dist/goreleaser-config.d.ts.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/main.d.ts
  dist/main.d.ts.map
  dist/retry.d.ts
  dist/retry.d.ts.map
  dist/semantic-release.d.ts
  dist/semantic-release.d.ts.map
  dist/sourcemap-register.js
  dist/tag-manager.d.ts
  dist/tag-manager.d.ts.map
  dist/turbo-integration.d.ts
  dist/turbo-integration.d.ts.map
  dist/types.d.ts
  dist/types.d.ts.map
  dist/validation.d.ts
  dist/validation.d.ts.map
Due: format, lint, type-check, test

fix: specify entry point in ncc build command to ensure proper dist/index.js generation
  package.json
Due: format

Notes added by 'git notes add'
  dc707a2f8c697e84a98e2aa113f3659e47ba17e8
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

feat: automate major version tag updates with semantic-release
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: format

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  4e7533bf37a0c439db2b23222b2545287eb5cd96
Due: none

fix: resolve working directory path relative to GITHUB_WORKSPACE instead of action directory
  dist/index.js
  dist/index.js.map
  dist/validation.d.ts.map
  src/validation.ts
Due: format, lint, type-check, test

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  f44a253eacd23aff282b74eee76d8003250bff91
Due: none

fix: allow legitimate absolute paths in GitHub Actions environment
  dist/index.js
  dist/index.js.map
  dist/validation.d.ts.map
  src/validation.ts
Due: format, lint, type-check, test

chore(release): 1.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  f2ea9f2d5bc47f355a4892ef50cb51538d9b3e70
Due: none

fix: allow ~ character in git references for HEAD~1 support
  .gitignore
  dist/cache.d.ts
  dist/cache.d.ts.map
  dist/changelog-generator.d.ts
  dist/changelog-generator.d.ts.map
  dist/constants.d.ts
  dist/constants.d.ts.map
  dist/goreleaser-config.d.ts
  dist/goreleaser-config.d.ts.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  dist/main.d.ts
  dist/main.d.ts.map
  dist/retry.d.ts
  dist/retry.d.ts.map
  dist/semantic-release.d.ts
  dist/semantic-release.d.ts.map
  dist/sourcemap-register.js
  dist/tag-manager.d.ts
  dist/tag-manager.d.ts.map
  dist/turbo-integration.d.ts
  dist/turbo-integration.d.ts.map
  dist/types.d.ts
  dist/types.d.ts.map
  dist/validation.d.ts
  dist/validation.d.ts.map
  src/validation.ts
Due: format, lint, type-check, test

chore(release): 1.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  f98b6db92d8d6c4986cec0f173af997ce2f4e50a
Due: none

chore(biome): fixed formatting
  src/changelog-generator.test.ts
  src/changelog-generator.ts
  src/main.ts
  src/retry.ts
  src/semantic-release.ts
  src/tag-manager.ts
  src/turbo-integration.ts
  src/validation.ts
Due: format, lint, type-check, test

fix: update release workflow to include dist files in version tags
  .github/workflows/release.yml
  .github/workflows/update-dist.yml
Due: format

chore(release): 1.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: format

Notes added by 'git notes add'
  8df1a537a582f9591a31a247433d8d67eaf698b8
Due: none

fix: configure git user before creating tags in GitHub Actions
  src/main.ts
Due: format, lint, type-check, test

chore(release): 1.2.5 [skip ci]
  CHANGELOG.md
  package.json
Due: format
